div.customerList {
    width: 100%;
    padding: 0 2vw;
    font-size: 1.2rem;
    box-sizing: border-box;
    div.listHeader {
        border: 1px solid black;
        font-weight: bold;
    }
    div.customer {
        border: 1px solid black;
        border-top: transparent;
        cursor: pointer;
        &.selected {
            background-color:#4CAF50;
            color: white;
        }
    }
    span {
        width: 25%;
        display: inline-block;
        &:first-child {
            width: 50%;
        }
    }
    @media screen and (min-width: 768px) {
        width: 50%;
        font-size: 1rem;
        padding: 0 0.5vw;
    }
}